@font-face {
  font-family: "Teleneo", monospace;
  src: url(../assets/fonts/teleneo/Tele-Neo-Office.ttf) format("truetype");
}

body {
  font-family: "Teleneo", sans-serif;
}

a:hover,
a:focus {
  outline: none;
  opacity: 0.6;
}
